@keyframes fadeIn {
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}

@keyframes fadeOut {
    0%      { opacity: 1; }
    100%    { opacity: 0; }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.25s;
}

.settings-container {
    width: 20rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: height ease-out 0.1s;
    border: 2px groove rgba(50, 50, 50, 0.25);
    backdrop-filter: saturate(180%) blur(10px);
}

    .settings-container h1 {
        font-weight: bold;
        border-width: thin;
        margin-bottom: 1.25rem;
        border-bottom: 2px solid black;
    }

    .settings-container .game-setting {
        display: flex;
        margin-bottom: 1rem;
        flex-direction: column;
    }

        .settings-container .game-setting label {
            font-weight: bold;
        }

.settings-input {
    border-width: 2px;
    border-radius: 5px;
    border-style: ridge;
}

.play-button,
.advanced-settings {
    width: 15rem;
    height: 3rem;
    font-size: 22px;
    font-weight: bold;
    margin-top: 1.5rem;
}

.difficulty-button {
    width: 10rem;
    height: 2.5rem;
    margin-top: 1rem;
}
